<!DOCTYPE html>
<html>
<head>
	<title>contoh form</title>
</head>
<body>
	<h2>contoh form</h2>
	<form action="/" method="post">
		Name: <br />
		<input type="text" name="nama" size="25" /><br />
		Umur: <br />
		<input type="text" name="umur" size="25" /><br />
		Password: <br />
		<input type="password" name="password" size="25" /><br />
		Jenis Kelamin: <br />
		<input type="radio" name="jeniskelamin" value="P" checked />Pria
		<input type="radio" name="jeniskelamin" value="W" checked />Wanita<br />
		Alamat: <br />
		<textarea name="alamat" cols="40" rows="4" /></textarea> <br />
		Hobi: <br />
		<input type="checkbox" name="hobbies" value="musik" />musik
		<input type="checkbox" name="hobbies" value="membaca" />membaca
		<input type="checkbox" name="hobbies" value="melupakan" />melupakan <br />
		Agama:
		<select name="agama" size="1">
			<option value="Islam">Islam</option>
			<option value="Protestan">Protestan</option>
			<option value="Katolik">Katolik</option>
			<option value="Hindu">Hindu</option>
			<option value="Budha">Budha</option>
		</select>
		<input type="hidden" name="kode" value="212" /><br />
		<p><input type="submit" value="kirim" /></p>
	</form>
</body>
</html>
